.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  text-align: center;
}

.site-footer .Upper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.Uppersite{
  display: flex;
  margin-left: 138px;
}
.uf1{
  flex: 1;
  width: 1420px;
}
.uf2 {
  flex: 1;
}





.Middle {
  padding: 20px;
  margin-bottom: 38px;
  background-color: #6e6a6a;

}

.Middlesite {
  display: flex;
  margin-left: -30px;
  align-items: center; /* Center-align vertically */
}
.Mlogo{
  display: flex;
  align-items: flex-start;
}
.Mlogo img {
  height: 120px;
  width: 200px;
  max-width: 100%;
}
.quote{
  text-align: left;
}
.social-icons {
  display: flex;
  gap: 10px;
  /* Add your styles for .social-icons here */
}

.mf1 {  
  flex: 1;
  flex-direction: column; /* Stack elements vertically */
  margin-left: 220px;
  max-width: 578px;
  
}
.mf2{
  margin-left: 28px;
  margin-bottom: 45px;
  max-width: 280px;
}
.list1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mf2.Heading h4{
  text-align: left;
  margin-top: 38px;

}
.mf2 ul {
  list-style-type: none;
  padding: 0;
}

.mf2.Headinglist ul li .elementor-icon-list-icon {
  flex: 0 0 auto; /* Ensure the icon doesn't grow or shrink */
  margin-right: 5px; /* Add some spacing between the icon and text */
}
.text-content {
  flex-direction: column; 
}
.mf2 ul li {
  margin-bottom: 10px;
  text-align: left;
}
.mf3{
  margin-left: 40px;
  margin-bottom: 35px;
}
.mf3.Heading h4{
  text-align: left; 
}
.mf3 ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}


.mf3 ul li {
  margin-bottom: 10px;
}

.lowersite {
  background-color: black;
  padding: 20px 0; /* Add padding to the top and bottom */
  text-align: center; /* Center-align the content */
}

.l1 {
  display: flex;
  justify-content: space-between;
  margin-left: 14%;
  margin-right: 15%;
}

.l1 h5 {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  font-size: 15px; /* Adjust font size as needed */
  color: #6e6a6a; /* Cream white color */
} 